<div id="app" ng-controller="PriceCtrl">
    <nav class="navbar navbar-inverse">
        <div class="container">

            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" id="pickuptxt" details="pickupdetails"
                           ng-model="pickup" ng-autocomplete
                           options="options" class="form-control input-md" size="30"
                           placeholder="Pickup Location">
                </div>
                <div class="form-group">
                    <input type="text" ng-autocomplete size="30" details="destdetails"
                           ng-model="destination"
                           options="options"
                           id="desttxt"
                           class="form-control input-md"
                           placeholder="Destination">
                </div>
                <div class="form-group">
                    <input class="form-control" type="datetime-local" id="inputDate" name="input"
                           ng-model="currentdatetime"
                           placeholder="yyyy-MM-ddTHH:mm:ss"/>
                </div>
                <button type="button" ng-click="compare()" class="btn btn-default">Start Comparison</button>
            </form>
        </div>
    </nav>
    <div ng-if="!showTabs" class="container">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Welcome to Ride Scanner!</h1>
                <p>Here you can compare the prices of the Taxi Service Uber and Lyft. With great ease you can find the
                    lowest current price and book your ride.</p>
            </div>
            <textarea style="display: none;" id="codeText">
library(lubridate)
library(plyr)
library(tidyr)
library(dplyr)
library(pracma)
library(data.table)
#Read Data
data<-read.csv("https://sushantparkhi.com/uber.csv",header=TRUE)
latlong<-read.csv("https://sushantparkhi.com/Areas.csv",header=TRUE)
userLat<-{0}
userLng<-{1}
userWeek<-{2}
userHours<-{3}
dist<-{4}
#Processing Data
#LatLong
latlong<-separate(data = latlong, col = latlong, into = c("latitude", "longitude"), sep = "\\,")
latlong$latitude<-as.numeric(latlong$latitude)
latlong$longitude<-as.numeric(latlong$longitude)
#UberData
data<-separate(data = data, col = start_coordinates, into = c("latitude", "longitude"), sep = "\\,")
data$latitude<-as.numeric(data$latitude)
data$longitude<-as.numeric(data$longitude)
data$Date_Time_Converted<- as.POSIXct(strptime(paste(data$date,data$time),format="%A, %B %d, %Y %r"))
data$hours<-as.double(strftime(data$Date_Time_Converted,format="%k"))
data$minutes<-as.double(strftime(data$Date_Time_Converted,format="%M"))
data$week<-as.double(strftime(data$Date_Time_Converted,format="%w"))

#Getting Neighbour
#Calculating Distance Between Lat Long
#Haversine Formula
distanceLatLong<-function(x){
  r<-3958.756
  dLat<-deg2rad(as.numeric(x[2])-userLat)
  dLong<-deg2rad(as.numeric(x[3])-userLng)
  a<-sin(dLat/2)*sin(dLat/2)+cos(deg2rad(userLat))*cos(deg2rad(as.numeric(x[2])))*sin(dLong/2)*sin(dLong/2)
  c<-2*atan2(sqrt(a),sqrt(1-a))
  d<-r*c
  return(d)
  }
latlong$Distance<-apply(latlong,1,distanceLatLong)
area<-latlong[which(latlong$Distance == min(latlong$Distance)), ]

#Filtering Data
filtered_data<-filter(data,latitude==area$latitude)
filtered_data<-filter(filtered_data,longitude==area$longitude)
filtered_data<-filter(filtered_data,week==userWeek)
filtered_data<-filter(filtered_data,hours==userHours)

#For Plotting on that Hour Distance Average
breaks <- c(0,2,4,6,8,10,12,14)
new_d<-data.table(filtered_data)
new_frame_dist_mean<-new_d[,list(mean=mean(average)),by=list(distance=cut(distance,breaks=breaks))][order(distance)]

filtered_data<-filter(data,latitude==area$latitude)
filtered_data<-filter(filtered_data,longitude==area$longitude)
filtered_data<-filter(filtered_data,week==userWeek)
new_d<-data.table(filtered_data)
new_frame_time_average <- new_d[, mean(average, na.rm = TRUE),by = hours]

filtered_data<-filter(data,latitude==area$latitude)
filtered_data<-filter(filtered_data,longitude==area$longitude)
filtered_data<-filter(filtered_data,hours==userHours)
new_d<-data.table(filtered_data)
new_frame_week_average<-new_d[, mean(average, na.rm = TRUE),by = week]

#Regression
filtered_data<-filter(data,latitude==area$latitude)
filtered_data<-filter(filtered_data,longitude==area$longitude)
filtered_data<-filter(filtered_data,week==userWeek)
filtered_data<-filter(filtered_data,hours==userHours)

attach(filtered_data)
reg<-lm(average~distance)

#Predicting Price by Distance
predict_frame <- data.frame(distance=dist)
predict_price<-predict(reg,newdata=predict_frame)

output_list<-list()
output_list[[1]]<-predict_price
output_list[[2]]<-area
output_list[[3]]<-new_frame_dist_mean
output_list[[4]]<-new_frame_time_average
output_list[[5]]<-new_frame_week_average
output_list
            </textarea>
        </div>

    </div>
    <div ng-if="showTabs" class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" style="padding:5px;" href="#">
                                <img alt="Uber" style="height:40px;padding:0" src="img/uber.png">
                            </a>
                            <strong>Distance:</strong> {{uber[0].distance}} &nbsp;
                            <strong>Minimum Cost:</strong> {{uber[0].estimate}} &nbsp;
                            <strong>Category: </strong> {{uber[0].display_name}} &nbsp;

                            <img alt="Lyft" style="height:40px;margin:5px" src="img/lyft.ico">
                            <strong>Distance:</strong> {{lyft[0].estimated_distance_miles}} &nbsp;
                            <strong>Minimum Cost:</strong> ${{lyft[0].estimated_cost_cents_min/100}} &nbsp;
                            <strong>Category: </strong> {{lyft[0].display_name}}

                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <tabset>
                    <tab heading="Current Uber Rate">
                        <div class="col-md-12" style="margin-top:20px">
                            <div ng-if="obj.display_name!=='TAXI'"
                                 ng-repeat="obj in uber"
                                 class="col-md-5">
                                <div class="well well-sm">
                                    Category: {{obj.display_name}}<br>
                                    Distance: {{obj.distance}}<br>
                                    Estimate: {{obj.estimate}}<br>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab heading="Current Lyft Rate">
                        <div style="margin-top:20px;" class="col-md-12">
                            <div ng-repeat="obj in lyft" class="col-md-5">
                                <div class="well well-sm">
                                    Category: {{obj.display_name}}<br>
                                    Distance: {{obj.estimated_distance_miles}}<br>
                                    Estimate:
                                    ${{obj.estimated_cost_cents_min===obj.estimated_cost_cents_max?obj.estimated_cost_cents_min/100:obj.estimated_cost_cents_min/100+"
                                    - $"+obj.estimated_cost_cents_max/100}}<br>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab ng-click="reRenderMap()" heading="Maps">
                        <div style="margin-top:20px;" class="col-md-8">
                            <ng-map ng-if="showMap" zoom="14"
                                    center="{{current}}" style="height:350px;">
                                <directions
                                        draggable="true"
                                        panel="directions-panel"
                                        travel-mode="DRIVING"
                                        origin="{{pickupdetails.formatted_address}}"
                                        destination="{{destdetails.formatted_address}}">
                                </directions>
                            </ng-map>
                        </div>
                        <div style="margin-top:20px" class="col-md-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Turn by Turn Direction</div>
                                <div class="panel-body" style="max-height: 310px;overflow-y: scroll;">
                                    <div id="directions-panel">
                                    </div>
                                </div>


                            </div>
                        </div>
                    </tab>
                    <tab ng-if="result!==''" heading="Predicted Uber Rate">
                        <div style="margin-top:20px;" class="col-md-12">
                            <div class="row" style="margin-bottom: 10px;">
                                <pre><b>Predicted Price:</b> {{predicted_price| currency}}</pre>
                                <pre><b>Nearest Neighbour Available in Dataset:</b> {{neighbour.address}}</pre>
                                <pre><b>Calculated Distance:</b> {{dist|number:2}} miles</pre>

                                <pre><b>Distance with the User's Address:</b> {{neighbour.Distance|number:2}} miles</pre>
                            </div>
                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-md-6">
                                    <canvas id="bar" class="chart chart-bar"
                                            chart-data="distance_frame_mean"
                                            chart-options="{title:{display:true,text:'Distance vs Price Average'}}"
                                            chart-labels="distance_frame_label">
                                    </canvas>
                                </div>
                                <div class="col-md-6">
                                    <canvas id="doughnut" class="chart chart-doughnut"
                                            chart-data="week_frame_mean" chart-labels="week_frame_label"
                                            chart-options="{title:{display:true,text:'Week vs Price Average'}}">
                                    </canvas>
                                </div>
                                <div class="col-md-12">
                                    <canvas id="line" class="chart chart-line" chart-data="hours_frame_mean"
                                            chart-labels="hours_frame_label"
                                            chart-options="{title:{display:true,text:'Hours vs Price Average'}}">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </tab>

                </tabset>
            </div>
        </div>
    </div>
</div>
<script src="js/script.js"></script>

